<div style="height:100%" class="row">
    <div class="col-1">
      <div class="vertical">
        ALERTAS
      </div>
      <div style="border-right: 1px solid black; height: 100%;">
      </div>
    </div>
    <article class="table col-11 border-grey">        
  <div><h3><span><i class="fas fa-exclamation-circle fa-pull-right statustypered"></i></span></h3>
        <span class="fa-pull-right"><i class="fas fa-square" style="color: #e7880c;" ></i>&nbsp;Media &nbsp;&nbsp;</span>
        <span  class="fa-pull-right"><i class="fas fa-square"style="color: #FF7D33;"></i>&nbsp;Alta  &nbsp;&nbsp;</span>
        <span  class="fa-pull-right"><i class="fas fa-square" style="color:#ff0000;"></i>&nbsp; Crítica&nbsp;&nbsp; </span></div><br><br><br>
      <div class="row status-menu borderbottom">
        <div class="col-1">HORA</div>
        <div class="col-2">CANTIDAD</div>
        <div class="col-5">MONTO</div>
        <div class="col-4">DESCRIPCION</div>
      </div>
      <div class="row status borderbottom" style="border-left: 10px solid #e7880c;">
        <div class="col-1">11:10</div>
        <div class="col-2">724</div>
        <div class="col-5 font-weight-bold">ARS 27.427.577</div>
        <div class="col-4">Balanceo</div>
      </div>
      <div class="row status borderbottom" style="border-left: 10px solid #ff0000;">
        <div class="col-1">11:10</div>
        <div class="col-2">724</div>
        <div class="col-5 font-weight-bold">ARS 27.427.577</div>
        <div class="col-4">Balanceo</div>
      </div>
      <div class="row status borderbottom" style="border-left: 10px solid #ff0000;">
        <div class="col-1">11:10</div>
        <div class="col-2">724</div>
        <div class="col-5 font-weight-bold">ARS 27.427.577</div>
        <div class="col-4">Balanceo</div>
      </div>
      <div class="row status borderbottom" style="border-left: 10px solid #FF7D33;">
        <div class="col-1">11:10</div>
        <div class="col-2">724</div>
        <div class="col-5 font-weight-bold">ARS 27.427.577</div>
        <div class="col-4">Balanceo</div>
      </div>
      
    </article>
  </div>
