<div class="container-fluid h-100">
  <div style="height:100%" class="row">
    <div style="padding-right: 5px; padding-left:0px;" class="col-1">
      <div style="top: 82%;" class="vertical-multi uppercase">
        Alertas
      </div>
      <div class="vertical-line">
      </div>
    </div>
    <article class="table col-11 border-grey">
      <div style="padding: 0px;" class="container-fluid h-100">
        <div class="row h-100">
          <div class="exclamation-circle">
            <div class="exclamation">
              !
            </div>
          </div>
          <div style="margin-top: 5px; height:7%;" class="col-12 d-flex justify-content-center">
            <div style="    margin-right: 15px;">
              <div class="blocker yellow"></div>
              <span>
                15 Media
              </span>
            </div>
            <div style="margin-right: 15px;">
              <div class="blocker orange"></div>
              <span>
                1 Alta
              </span>
            </div>
            <div style="    margin-right: 15px;">
              <div class="blocker red"></div>
              <span>
                3 Crítica
              </span>
            </div>
          </div>
          <div style="height:83%;" class="w-100">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Hora</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Monto</th>
                  <th scope="col">Descripción</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="red" scope="row"></th>
                  <td>11:00</td>
                  <td>41</td>
                  <td>ARS 800.000</td>
                  <td>Balanceo</td>
                </tr>
                <tr>
                  <th class="orange" scope="row"></th>
                  <td>11:54</td>
                  <td>11</td>
                  <td>ARS 150.000</td>
                  <td>Transacciones recibidas</td>
                </tr>
                <tr>
                  <th class="yellow" scope="row"></th>
                  <td>13:32</td>
                  <td>26</td>
                  <td>USD 3.000</td>
                  <td>Balanceo</td>
                </tr>
                <tr>
                  <th class="red" scope="row"></th>
                  <td>14:59</td>
                  <td>32</td>
                  <td>USD 5.000</td>
                  <td>Balanceo</td>
                </tr>
                <tr>
                  <th class="orange" scope="row"></th>
                  <td>16:13</td>
                  <td>5</td>
                  <td>ARS 5.300.200</td>
                  <td>Transacciones recibidas</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>