.table {
    height: 100%;
}

table.mat-table {
    width: 100% !important;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.table td,
    {
    font-size: .9vw;
}

.w-100 {
    width: 100%;
}

.table td,
.table th {
    vertical-align: middle !important;
    padding: 1px 4px !important;
}

tr {
    height: fit-content;
}

.table th {
    padding: 0.3vh 5px;
    font-size: 2.1vh;
}

.blocker {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
}