<div style="height:100%" class="row">
  <div class="col-1">
    <div class="vertical">
      ALERTAS
    </div>
    <div style="border-right: 1px solid black; height: 100%;">
    </div>
  </div>
  <article class="table col-11 border-grey">
    <!-- <h3>ALERTAS <span><i class="fas fa-exclamation-circle fa-pull-right statustypered"></i></span></h3> -->
    <div class="row status-menu borderbottom">
      <div class="col-1">HORA</div>
      <div class="col-2">CANTIDAD</div>
      <div class="col-5">MONTO</div>
      <div class="col-4">DESCRIPCION</div>
    </div>
    <div class="row status borderbottom">
      <div class="col-1">11:10</div>
      <div class="col-2">724</div>
      <div class="col-5 font-weight-bold">ARS 27.427.577</div>
      <div class="col-4">Balanceo</div>
    </div>
    <div class="row status borderbottom">
      <div class="col-1">11:10</div>
      <div class="col-2">724</div>
      <div class="col-5 font-weight-bold">ARS 27.427.577</div>
      <div class="col-4">Balanceo</div>
    </div>
    <div class="row status borderbottom">
      <div class="col-1">11:10</div>
      <div class="col-2">724</div>
      <div class="col-5 font-weight-bold">ARS 27.427.577</div>
      <div class="col-4">Balanceo</div>
    </div>
    <div class="row status borderbottom">
      <div class="col-1">11:10</div>
      <div class="col-2">724</div>
      <div class="col-5 font-weight-bold">ARS 27.427.577</div>
      <div class="col-4">Balanceo</div>
    </div>
    <div class="status row">
      <div class="col-1">11:10</div>
      <div class="col-2">724</div>
      <div class="col-5 font-weight-bold">ARS 27.427.577</div>
      <div class="col-4">Balanceo</div>
    </div>
  </article>
</div>