<div style="padding: 1px 10px;" class="filter-height">
    <div class="row h-100">
      <div style="padding: 1px 15px;" class="col-3 d-flex h-100 align-self-center ">
        <div style="border-radius: 7px 0px 0px 7px;" class="container-fluid border-grey">
          <div class="row h-100">
            <div class="col-1 align-self-center">
              <div class="circle-status">
  
              </div>
            </div>
            <div class="col-8 align-self-center d-flex h-100">
              <span class="align-self-center filter-font"> ESTADO DE LAS CÁMARAS</span>
            </div>
  
            <div class="col-3"></div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <app-filters-emitidas></app-filters-emitidas>
      </div>
    </div>
  </div>
<div class="grid-height">
  <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">

      <app-operation-mini *ngIf="item.type === 'mini-baja'" label="Baja"></app-operation-mini>
      <app-operation-mini *ngIf="item.type === 'mini-ddif'" label="Ddif"></app-operation-mini>
      <app-operation-mini *ngIf="item.type === 'mini-7x24'" label="7x24"></app-operation-mini>
      <app-operation-mini *ngIf="item.type === 'mini-pendiente'" label="Pendiente emisión de pago"></app-operation-mini>

      <app-operation-details *ngIf="item.type === 'expanded-ingresado'" cab1="Canal" label="Ingresado"></app-operation-details>
      <app-operation-details *ngIf="item.type === 'expanded-pendiente'" alert="true" cab1="Sistema" label="Pendiente"></app-operation-details>
      <app-operation-details *ngIf="item.type === 'expanded-procesado'" cab1="Cámara" label="Procesado"></app-operation-details>
      <app-operation-details *ngIf="item.type === 'expanded-rechazado'" cab1="Motivo" label="Rechazado"></app-operation-details>

      <app-graph-process *ngIf="item.type === 'process'"></app-graph-process>
      <app-graph-warranty *ngIf="item.type === 'process-2'"></app-graph-warranty>

      <div style="height: inherit" *ngIf="item.type === 'graph'">
        <app-graph-operations label="Emitidas por hora"></app-graph-operations>
      </div>

      <div style="height:100%" *ngIf="item.type === 'table'">
        <app-table-operations></app-table-operations>
      </div>
    </gridster-item>
  </gridster>
</div>
