<!-- <app-graph-bullet [options]='graphINTBKOptions'></app-graph-bullet> -->

<div class="santander internas">
  <header class="container-fluid">
    <div class="row">
      <div id="brand" class="col-md-6">
        <h1>
          <img src="/assets/images/santander-rio.png" class="santander-header-logo">
          <span class="header-location">&nbsp;Emitidas</span>
        </h1>
      </div>
      <div id="tools" class="col-md-6 text-right">
        <button type="button" class="header-tool btn btn-outline-secondary search"><i class="fas fa-search"></i></button>
        <button type="button" class="header-tool btn btn-secondary user"><i class="fas fa-user"></i></button>
      </div>
    </div>
  </header>


  <section class="container-fluid">
    <div class="row">

      <nav class="col-1" id="menu">
        <a href="tablero.html"><i class="fas fa-th-large"></i></a>
        <a href="emitidas.html" class="active"><i class="fas fa-sign-out-alt"></i></a>
        <a href="recibidas.html"><i class="fas fa-sign-in-alt"></i></a>
        <a href="pagos.html"><i class="fas fa-donate"></i></a>
        <a href="#"><i class="fas fa-search-dollar"></i></a>
        <a href="detalle.html"><i class="fas fa-chart-bar"></i></a>
        <a href="tx.html"><i class="fas fa-random"></i></a>
        <a href="alertas.html"><i class="fas fa-exclamation-triangle"></i></a>
      </nav>

      <section id="maincontent">

        <div class="row" id="filters">
          <form action="#" class="col-md-12 expanded">
            <div class="radioGroup input col-md-3">
              <div>
                <span>Filtrar por:</span>&nbsp;
                <label><input type="radio" name="optradio" checked> Pesos</label>&nbsp;
                <label><input type="radio" name="optradio"> Dólares</label>
              </div>
            </div>


            <div class="dropdown col-md-1">
              <button class="btn dropdown-toggle" type="button" id="dropdownDateButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Fecha
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownDateButton">
                <input type="text" name="daterange" value="" />

              </div>
            </div>


            <div class="dropdown col-md-1">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Sucursal
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Sucursal 1</a>
                <a class="dropdown-item" href="#">Sucursal 2</a>
                <a class="dropdown-item" href="#">Sucursal 3</a>
              </div>
            </div>

            <div class="dropdown col-md-1">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Segmento
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="#">Segmento 1</a>
                <a class="dropdown-item" href="#">Segmento 2</a>
                <a class="dropdown-item" href="#">Segmento 3</a>
              </div>
            </div>

            <div class="dropdown col-md-1">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Producto
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" href="#">Producto 1</a>
                <a class="dropdown-item" href="#">Producto 2</a>
                <a class="dropdown-item" href="#">Producto 3</a>
              </div>
            </div>
            <div class="dropdown col-md-1">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Canal
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" href="#">Producto 1</a>
                <a class="dropdown-item" href="#">Producto 2</a>
                <a class="dropdown-item" href="#">Producto 3</a>
              </div>
            </div>
            <div class="dropdown col-md-1">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Cámara
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item" href="#">Producto 1</a>
                <a class="dropdown-item" href="#">Producto 2</a>
                <a class="dropdown-item" href="#">Producto 3</a>
              </div>
            </div>
            <div class="dropdown col-3 text-right">
              <button type="button" class="btn btn-secondary user">Aplicar filtros <i class="fas fa-filter"></i></button>
            </div>
          </form>
        </div>

        <gridster [options]="options">
          <gridster-item [item]="item" *ngFor="let item of dashboard">

            <div *ngIf="item.type === 'mini'">
              <div class="container">
                <div class="row">
                  <h3 class="col-12 widget-mini-title">BAJA</h3>
                  <div class="col-10">
                    <span class="widget-mini-price">$2.300.120</span>
                    <span class="widget-mini-quantity"> &nbsp; 2301</span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.type === 'expanded'">
              <div class="container">
                <div class="row">
                  <h3 class="col-12 widget-mini-title color-santander">INGRESADO</h3>

                  <div class="col-9">
                    <span class="widget-mini-price">$2.300.120</span>
                    <span class="widget-mini-quantity"> &nbsp; 2301</span>
                  </div>
                  <div class="col-3 aligned-centered-flex">
                    <span class="widget-mini-percent">20%</span>
                  </div>

                  <div class="mt-2 col-12">
                    <table style="width:100%" class="expanded-table">
                      <tr>
                        <th>Canal</th>
                        <th>Cantidad</th>
                        <th>Monto</th>
                      </tr>

                      <tr>
                        <td>Sucursales</td>
                        <td>1500</td>
                        <td class="quantity">$1.146.010.409</td>
                      </tr>
                      <tr>
                        <td>Datanet</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>
                      <tr>
                        <td>Obcm</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>
                      <tr>
                        <td>Obe</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>
                      <tr>
                        <td>Piryp</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>
                      <tr>
                        <td>Superlínea</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>

                    </table>
                  </div>
                </div>
              </div>

            </div>
            <div class="pink" *ngIf="item.type === 'expanded-rosa'">
              <div class="container">
                <div class="row">
                  <h3 class="col-12 widget-mini-title color-santander">INGRESADO ROSA</h3>

                  <div class="col-9">
                    <span class="widget-mini-price">$2.300.120</span>
                    <span class="widget-mini-quantity"> &nbsp; 2301</span>
                  </div>
                  <div class="col-3 aligned-centered-flex">
                    <span class="widget-mini-percent">20%</span>
                  </div>

                  <div class="mt-2 col-12">
                    <table style="width:100%" class="expanded-table">
                      <tr>
                        <th>Canal</th>
                        <th>Cantidad</th>
                        <th>Monto</th>
                      </tr>

                      <tr>
                        <td>Sucursales</td>
                        <td>1500</td>
                        <td class="quantity">$1.146.010.409</td>
                      </tr>
                      <tr>
                        <td>Datanet</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>
                      <tr>
                        <td>Obcm</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>
                      <tr>
                        <td>Obe</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>
                      <tr>
                        <td>Piryp</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>
                      <tr>
                        <td>Superlínea</td>
                        <td>0</td>
                        <td class="quantity">$0</td>
                      </tr>

                    </table>
                  </div>
                </div>
              </div>

            </div>
            <div *ngIf="item.type === 'process'">
              <div class="container-fluid">
                <div class="row">
                  <div class="d-block  mt-2 full-width border-bottom-black">
                    <span class="uppercase">Capacidad de Procesamiento</span>
                  </div>

                  <div class="col-6">
                    <app-graph-bullet [options]='graphINTBKOptions'></app-graph-bullet>
                  </div>
                  <div class="col-6">
                    <app-graph-bullet [options]='graphBCRAOptions'></app-graph-bullet>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="item.type === 'process-2'">
              <div class="container-fluid">
                <div class="row">
                  <div class="d-block  mt-2 full-width border-bottom-black">
                    <span class="uppercase">Estado de garantía</span>
                  </div>

                  <div class="col">
                    <app-graph-bullet [options]='graphWarrantyOptions'></app-graph-bullet>
                  </div>

                </div>
              </div>
            </div>
            <div style="height: inherit" *ngIf="item.type === 'graph'">
              <div style="height:100%" class="row">
                <div class="col-1">
                  <div style="white-space: nowrap; top:63%;   left: -75%;" class="vertical">
                    EMITIDAS POR HORA
                  </div>
                  <div style="border-right: 1px solid black; height: 100%;">
                  </div>
                </div>
                <article class="col-11 border-grey">
                  <canvas style="padding: 10px 5px;" #lineChart>{{ chart }}</canvas>
                </article>
              </div>
            </div>
            <div style="height:100%" *ngIf="item.type === 'table'">
              <div style="height:100%" class="row">
                <div class="col-1">
                  <div class="vertical">
                    ALERTAS
                  </div>
                  <div style="border-right: 1px solid black; height: 100%;">
                  </div>
                </div>
                <article class="table col-11 border-grey">
                  <!-- <h3>ALERTAS <span><i class="fas fa-exclamation-circle fa-pull-right statustypered"></i></span></h3> -->
                  <div class="row status-menu borderbottom">
                    <div class="col-1">HORA</div>
                    <div class="col-2">CANTIDAD</div>
                    <div class="col-5">MONTO</div>
                    <div class="col-4">DESCRIPCION</div>
                  </div>
                  <div class="row status borderbottom">
                    <div class="col-1">11:10</div>
                    <div class="col-2">724</div>
                    <div class="col-5 font-weight-bold">ARS 27.427.577</div>
                    <div class="col-4">Balanceo</div>
                  </div>
                  <div class="row status borderbottom">
                    <div class="col-1">11:10</div>
                    <div class="col-2">724</div>
                    <div class="col-5 font-weight-bold">ARS 27.427.577</div>
                    <div class="col-4">Balanceo</div>
                  </div>
                  <div class="row status borderbottom">
                    <div class="col-1">11:10</div>
                    <div class="col-2">724</div>
                    <div class="col-5 font-weight-bold">ARS 27.427.577</div>
                    <div class="col-4">Balanceo</div>
                  </div>
                  <div class="row status borderbottom">
                    <div class="col-1">11:10</div>
                    <div class="col-2">724</div>
                    <div class="col-5 font-weight-bold">ARS 27.427.577</div>
                    <div class="col-4">Balanceo</div>
                  </div>
                  <div class="status row">
                    <div class="col-1">11:10</div>
                    <div class="col-2">724</div>
                    <div class="col-5 font-weight-bold">ARS 27.427.577</div>
                    <div class="col-4">Balanceo</div>
                  </div>
                </article>
              </div>
            </div>
          </gridster-item>
        </gridster>


        <!-- <div class="row" id="boxes">

          <article class="col-3 border-grey">
            <h3>DDIF</h3>
            <div class="row up">
              <div class="col-5">
                <a href="#">
                  <h4>$2.300.120</h4>
                </a>
              </div>
              <div class="col-4">
                <p class="ingreso">| 2301</p>
              </div>
            </div>
          </article>
          <article class="col-3 border-grey">
            <h3>7x24</h3>
            <div class="row up">
              <div class="col-5">
                <a href="#">
                  <h4>$2.300.120</h4>
                </a>
              </div>
              <div class="col-4">
                <p class="ingreso">| 2301</p>
              </div>
            </div>
          </article>
          <article class="col-3 border-grey">
            <h3>PENDIENTE EMISIÓN DE PAGOS</h3>
            <div class="row up">
              <div class="col-5">
                <a href="#">
                  <h4>$2.300.120</h4>
                </a>
              </div>
              <div class="col-4">
                <p class="ingreso">| 2301</p>
              </div>
            </div>
          </article>


          <!--Acá arrancan las cajas con tablas incluidas--
          <article class="col-3 border-grey rojo">
            <h3 class="titulo">INGRESADO</h3>
            <div class="row up">
              <div id="monto" class="col-5">
                <a href="#">
                  <h4>$2.300.120</h4>
                </a>
              </div>
              <div class="col-4">
                <p class="ingreso">| 2301</p>
              </div>
              <div class="col-3 porcentaje">20%</div>
            </div>
            <!--Tabla Ingresado--
        <article class="col-3 tableGrey paddingcero">
          <header class="col-12 paddingcero">
            <div class="col-4">CANAL</div>
            <div class="col-4">CANTIDAD</div>
            <div class="col-4">MONTO</div>
          </header>
          <div class="col-12 paddingcero">
            <div class="col-4">SUCURSALES</div>
            <div class="col-4">1500</div>
            <div class="col-4">$$1.146.010.409</div>
          </div>
          <div class="col-12 paddingcero">
            <div class="col-4">DATANET</div>
            <div class="col-4">0</div>
            <div class="col-4">$0</div>
          </div>
          <div class="col-12 paddingcero">
            <div class="col-4">OBCM</div>
            <div class="col-4">0</div>
            <div class="col-4">$0</div>
          </div>
          <div class="col-12 paddingcero">
            <div class="col-4">OBE</div>
            <div class="col-4">0</div>
            <div class="col-4">$0</div>
          </div>
          <div class="col-12 paddingcero">
            <div class="col-4">PIRYP</div>
            <div class="col-4">0</div>
            <div class="col-4">$0</div>
          </div>
          <div class="col-12 paddingcero">
            <div class="col-4">SUPERLÍNEA</div>
            <div class="col-4">0</div>
            <div class="col-4">$0</div>
          </div>
        </article>

        </article>

        <article class="col-3 border-grey rosa rojo">
          <h3 class="titulo">PENDIENTE</h3>
          <div class="row up">
            <div class="col-5">
              <a href="#">
                <h4>$2.300.120</h4>
              </a>
            </div>
            <div class="col-4">
              <p class="ingreso">| 2301</p>
            </div>
            <div class="col-3 porcentaje">20%</div>
          </div>

          <!--Aca arranca la tabla de Pendiente--
            <article class="col-3 tableGrey paddingcero">
              <header class="col-12 paddingcero">
                <div class="col-4">CANAL</div>
                <div class="col-4">CANTIDAD</div>
                <div class="col-4">MONTO</div>
              </header>
              <div class="col-12 paddingcero valores">
                <div class="col-4">SUCURSALES</div>
                <div class="col-4">1500</div>
                <div class="col-4">$$1.146.010.409</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">DATANET</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">OBCM</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">OBE</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">PIRYP</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">SUPERLÍNEA</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
            </article>
          </article>

          <article class="col-3 border-grey rojo">
            <h3 class="titulo">PROCESADO</h3>
            <div class="row up">
              <div class="col-5">
                <a href="#">
                  <h4>$2.300.120</h4>
                </a>
              </div>
              <div class="col-4">
                <p class="ingreso">| 2301</p>
              </div>
              <div class="col-3 porcentaje">20%</div>
            </div>
            <!--Aca arranca la tabla de Procesado--
            <article class="col-3 tableGrey paddingcero">
              <header class="col-12 paddingcero">
                <div class="col-4">CANAL</div>
                <div class="col-4">CANTIDAD</div>
                <div class="col-4">MONTO</div>
              </header>
              <div class="col-12 paddingcero">
                <div class="col-4">SUCURSALES</div>
                <div class="col-4">1500</div>
                <div class="col-4">$$1.146.010.409</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">DATANET</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">OBCM</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">OBE</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">PIRYP</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">SUPERLÍNEA</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
            </article>
          </article>
          <article class="col-3 border-grey rojo">
            <h3 class="titulo">RECHAZADO</h3>
            <div class="row up">
              <div class="col-5">
                <a href="#">
                  <h4>$2.300.120</h4>
                </a>
              </div>
              <div class="col-4">
                <p class="ingreso">| 2301</p>
              </div>
              <div class="col-3 porcentaje">20%</div>
            </div>
            <!--Aca arranca la tabla de Rechazado--
            <article class="col-3 tableGrey paddingcero">
              <header class="col-12 paddingcero">
                <div class="col-4">CANAL</div>
                <div class="col-4">CANTIDAD</div>
                <div class="col-4">MONTO</div>
              </header>
              <div class="col-12 paddingcero">
                <div class="col-4">SUCURSALES</div>
                <div class="col-4">1500</div>
                <div class="col-4">$$1.146.010.409</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">DATANET</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">OBCM</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">OBE</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">PIRYP</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
              <div class="col-12 paddingcero">
                <div class="col-4">SUPERLÍNEA</div>
                <div class="col-4">0</div>
                <div class="col-4">$0</div>
              </div>
            </article>
          </article>


        </div>




        <div class="row" id="barras">
          <article id="capacidad" class="col-md-8 border-grey">
            <h3>CAPACIDAD DE PROCESAMIENTO <span><i class="fas fa-exclamation-circle fa-pull-right statustypered"></i></span></h3>
            <div class="col-12">CHARTS</div>
          </article>
          <article class="col-md-4 border-grey" id="garantia">
            <h3>ESTADO DE GARANTÍA <span><i class="fas fa-exclamation-circle fa-pull-right statustypered"></i></span></h3>
            <div class="col-12">CHARTS</div>

          </article>
        </div>

        <div class="row" id="alerts">
          <article id="chart" class="col-md-6 border-grey">
            <h3>EMITIDAS POR HORAS <span><i class="fas fa-exclamation-circle fa-pull-right statustypered"></i></span></h3>
            <div class="col-12">CHART</div>
          </article>


          
        </div>
      -->

      </section>

    </div>


  </section>

</div>