<div class="santander internas">
  <header class="container-fluid">
    <div class="row">
      <div id="brand" class="col-md-6">
        <h1>
          <img src="/assets/images/santander-rio.png" class="santander-header-logo">
          <span class="header-location">&nbsp;Dashboard</span>
        </h1>
      </div>
      <div id="tools" style="display: flex;justify-content: flex-end;" class="col-md-6 text-right">
        <div class="header-tool" style=" align-self:center; color:rgba(0,0,0,.6)">
          <span style="padding-right: 8px;"> Actualizado hace 1"</span>
        </div>
        <div class="header-tool btn-user color-red">
          <span style="padding-right: 10px;" style="font-size:.95vw"> Juan Perez González</span> <i style="font-size:1.2vw;padding-left: 10px"
            class="far fa-user"></i>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-col nav">
        <app-sidenav></app-sidenav>
      </div>
      <div class="col">
        <div style="padding: 1px 10px;" class="h-10">
          <div class="row h-100">
            <div style="    padding: 1px 15px;" class="col-3 d-flex h-100 align-self-center ">
              <div style="border-radius: 7px 0px 0px 7px;" class="container-fluid border-grey">
                <div class="row h-100">
                  <div style="background-color: green;border-radius: 10px 0px 0px 10px;" class="col-1"></div>
                  <div class="col-8 align-self-center d-flex h-100">
                    <span class="align-self-center"> ESTADO DE LAS CÁMARAS</span>
                  </div>

                  <div class="col-3"></div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <app-filters-dashboard></app-filters-dashboard>
            </div>
          </div>

        </div>
        <div class="h-90">
          <gridster [options]="options">
            <gridster-item [item]="item" *ngFor="let item of dashboard">

              <app-emit-receive [percent]="false" label="Total" *ngIf="item.type === 'ingresadas-recibidas-total'"></app-emit-receive>
              <app-emit-receive [percent]="true" label="Pendiente" isAlert="true" *ngIf="item.type === 'ingresadas-recibidas-pendiente'"></app-emit-receive>
              <app-emit-receive [percent]="true" label="Procesado" *ngIf="item.type === 'ingresadas-recibidas-procesado'"></app-emit-receive>
              <app-emit-receive [percent]="true" label="Rechazado" *ngIf="item.type === 'ingresadas-recibidas-rechazado'"></app-emit-receive>
              <app-multi-bullet *ngIf="item.type === 'multi-bullet-warranty'" label="GARANTÍAS" type="warranty"></app-multi-bullet>
              <app-multi-bullet *ngIf="item.type === 'multi-bullet-process'" label="PROCESAMIENTO" type="process"></app-multi-bullet>

              <div style="height: inherit" *ngIf="item.type === 'multi-graph'">
                <app-multi-graph-operations label="ASD"></app-multi-graph-operations>
              </div>

              <div style="height:100%" *ngIf="item.type === 'table'">
                <app-table-operations></app-table-operations>
              </div>
            </gridster-item>
          </gridster>
        </div>
      </div>
    </div>

  </div>
