<div style="padding: 1px 10px;" class="filter-height">
  <div class="row h-100">
    <div style="padding: 1px 15px;" class="col-3 d-flex h-100 align-self-center ">
      <div style="border-radius: 7px 0px 0px 7px;" class="container-fluid border-grey">
        <div class="row h-100" style="font-size:.75vw !important">
          <div class="col-4" style="display: flex;
          justify-content: center;
          align-self: center;">
            <span style="white-space: nowrap">
              Filtrar por:
            </span>
          </div>
          <div class=" col-4" style="display: flex;
              justify-content: center;
              align-self: center;
              white-space: nowrap;">
            <p-radioButton name="group1" label="Pesos" value="Option 1" [(ngModel)]="val1" inputId="opt1"></p-radioButton>

          </div>
          <div class="col-4" style="display: flex;
              justify-content: center;
              white-space: nowrap;
              align-self: center;">
            <p-radioButton name="group1" label="Dólares" value="Option 2" [(ngModel)]="val1" inputId="opt2">
              </p-radioButton>

          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <app-filters-recibidas></app-filters-recibidas>
    </div>
  </div>
</div>
<div class="grid-height">
  <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">

      <app-operation-details *ngIf="item.type === 'expanded-ingresado'" cab1="Canal" label="Ingresado"></app-operation-details>
      <app-operation-details *ngIf="item.type === 'expanded-pendiente'" alert="true" cab1="Sistema" label="Pendiente"></app-operation-details>
      <app-operation-details *ngIf="item.type === 'expanded-procesado'" cab1="Cámara" label="Procesado"></app-operation-details>
      <app-operation-details *ngIf="item.type === 'expanded-rechazado'" cab1="Motivo" label="Rechazado"></app-operation-details>

      <app-graph-process *ngIf="item.type === 'process'"></app-graph-process>
      <app-graph-warranty *ngIf="item.type === 'process-2'"></app-graph-warranty>

      <div style="height: inherit" *ngIf="item.type === 'graph'">
        <app-graph-operations label="Emitidas por hora"></app-graph-operations>
      </div>

      <div style="height:100%" *ngIf="item.type === 'table'">
        <app-table-operations></app-table-operations>
      </div>
    </gridster-item>
  </gridster>
</div>
