<div style="padding: 2px 15px 0 0px" class="container-fluid h-100 ">
  <div class="row d-flex border-grey h-100 bold">

    <div class="col align-self-center border-right">
        <p-calendar showIcon="true" [(ngModel)]="value" showButtonBar="false"  [locale]="es" selectionMode="range" [readonlyInput]="true" dateFormat="dd/mm/yy" placeholder="Fecha">  </p-calendar>
       <!-- <span class="ui-dropdown-trigger-icon ui-clickable pi pi-caret-down" ng-reflect-klass="ui-dropdown-trigger-icon ui-cl" ng-reflect-ng-class="pi pi-caret-down"></span>-->

    </div>

    <div class="col align-self-center border-right">
      <p-dropdown [options]="sucursal " [style]="{'width': '100%','border':'0px'}"  placeholder="Sucursal"
        optionLabel="name" [showClear]="true"></p-dropdown>
    </div>  

    <div class="col align-self-center border-right">
      <p-dropdown [options]="segmento " [style]="{'width': '100%','border':'0px'}" 
        placeholder="Segmento" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>
    
    <div class="col align-self-center border-right">
      <p-dropdown [options]="productos " [style]="{'width': '100%','border':'0px'}"  placeholder="Producto"
        optionLabel="name" [showClear]="true"></p-dropdown>
    </div>
    <div style="justify-content: center; display: flex;" class="col align-self-center">
      <i class="fas fa-eraser fa-2x d-inline-block" style="color: darkgrey; margin-right: 8px;"></i>
      <span style="align-self: center;">
        BORRAR FILTROS
      </span>
    </div>
  </div>
</div>