.calendar-button {
    padding: 3px 3px;
    font-size: 1vw;
    border-radius: 3px;
    cursor: pointer;
}

.apply {
    color: white;
    background-color: #368c36;
}

.erase-filters-button {
    cursor: pointer;
    font-size: .9vw
}

body .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    border: 0px !important;
}

.default {
    color: rgb(29, 29, 29);
    background-color: white;
    border: 1px solid rgb(107, 107, 107);
}