<div style="height:100%" class="container-fluid h-100">
    <div style="height:inherit" class="row">
      <div class="d-block col-12 h-30 full-width border-bottom-black">
        <span class="uppercase">Capacidad de Procesamiento</span>
      </div>
  
      <div class="col-6 h-70">
        <app-graph-bullet [options]='graphINTBKOptions'></app-graph-bullet>
      </div>
      <div class="col-6">
        <app-graph-bullet [options]='graphBCRAOptions'></app-graph-bullet>
      </div>
    </div>
  </div>