<div class="container-fluid">
  <div class="row">
    <div class="d-block  mt-2 full-width border-bottom-black">
      <span class="vertical uppercase">Garantias</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <span class="horizontal uppercase" style="padding-left: 40px">pesos</span>

      <app-graph-bullet [options]='graphINTBKOptions'></app-graph-bullet>
    </div> 
  </div>
  <div class="row">
    <div class="col-12">
        <span class="horizontal uppercase" style="padding-left: 40px">dólares</span>

      <app-graph-bullet [options]='graphBCRAOptions'></app-graph-bullet>
    </div>   
  </div> 
</div>
