<div class="container">
  <div class="row">
    <h3 class="col-12 widget-mini-title color-santander">INGRESADO</h3>

    <div class="col-9">
      <span class="widget-mini-price">$2.300.120</span>
      <span class="widget-mini-quantity"> &nbsp; 2301</span>
    </div>
    <div class="col-3 aligned-centered-flex">
      <span class="widget-mini-percent">20%</span>
    </div>

    <div class="mt-2 col-12">
      <table style="width:100%" class="expanded-table">
        <tr>
          <th>Canal</th>
          <th>Cantidad</th>
          <th>Monto</th>
        </tr>

        <tr>
          <td>Sucursales</td>
          <td>1500</td>
          <td class="quantity">$1.146.010.409</td>
        </tr>
        <tr>
          <td>Datanet</td>
          <td>0</td>
          <td class="quantity">$0</td>
        </tr>
        <tr>
          <td>Obcm</td>
          <td>0</td>
          <td class="quantity">$0</td>
        </tr>
        <tr>
          <td>Obe</td>
          <td>0</td>
          <td class="quantity">$0</td>
        </tr>
        <tr>
          <td>Piryp</td>
          <td>0</td>
          <td class="quantity">$0</td>
        </tr>
        <tr>
          <td>Superlínea</td>
          <td>0</td>
          <td class="quantity">$0</td>
        </tr>

      </table>
    </div>
  </div>