<div [ngClass]="{'pink': alert}" class="container">
  <div class="row">
    <div style="font-size: 1vw" class="col-12 bold widget-mini-title uppercase color-santander">{{label}}</div>
    
    <div class="col-8" *ngIf="listGral != undefined">
      <span class="widget-mini-price">{{listGral.amountARSGral.amount | currency}}</span>
      <span class="widget-mini-quantity"> &nbsp; | {{listGral.amountARSGral.count}}</span>
    </div>
    <div class="col-4 aligned-centered-flex" *ngIf="listGral != undefined">
      <span class="widget-mini-percent" *ngIf="label != 'Ingresado'">{{listGral.percent}} %</span>
    </div>

    <div class="mt-2 col-12">
      <table class="table table-sm">
        <thead>
          <tr class="uppercase">
            <th scope="col">{{cab1}}</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor= "let list of listado; index as i;"> 
            <td>{{list.detail}}</td>
            <td>{{list.count}}</td>
            <td>{{list.amount | currency}}</td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
</div>