<!-- <div [ngClass]="{'pink': isAlert}" class="container-fluid h-100"> -->
   <div class="container-fluid h-100" *ngIf="emitted != null">

  <div class="h-20 title uppercase">
    {{label}}
  </div>
  <div class="h-80">
    <div class="half">
      <div class="container-fluid  h-100" *ngIf="emitted != undefined" >
        <div class="row h-100">
          <div style="padding-left: 3px;" class="col-5 align-center bold price">
            <div class="text-align-right">
              <span class="red-hover" > ${{ emitted.amountARSGral.amount | number}} </span>
            </div>
            <div class="text-align-right">
              <span class="red-hover">U$S {{ emitted.amountUSDGral.amount}}</span>
            </div>
            <div class="line"></div>
          </div>
          <div class="col-3 align-center">
            <div class="quantity"><span class="red-hover">{{emitted.amountARSGral.count}}</span></div>
            <div class="quantity"><span class="red-hover">{{emitted.amountUSDGral.count }}</span></div>
          </div>
          <div class="col-4 align-center">
            <div *ngIf="label != 'Total'"  class="percent">{{emitted.percent}}%</div>
          </div>
        </div>
      </div>
    </div>
    <hr class="h-2">
     <div class="half">
      <div class="container-fluid  h-100">
        <div class="row h-100" *ngIf="recieve != undefined">
          <div style="padding-left: 3px;" class="col-5 align-center bold price">
            <div class="text-align-right">
              <span class="red-hover"> {{ recieve.amountARSGral.amount}} </span>
            </div>
            <div class="text-align-right">
              <span class="red-hover">{{ recieve.amountUSDGral.amount}}</span>
            </div>
            <div class="line"></div>
          </div>
          <div class="col-3 align-center">
            <div class="quantity"><span class="red-hover">{{recieve.amountARSGral.count}}</span></div>
            <div class="quantity"><span class="red-hover">{{recieve.amountUSDGral.count }}</span></div>
          </div>
          <div class="col-4 align-center"  >
            <div *ngIf="label != 'Total'"  class="percent">{{recieve.percent}}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>