.half {
    height: 49%;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.h-2 {
    height: 2%
}

.align-center {
    align-self: center;
}

.quantity {
    color: #464646;
    font-size: .95vw;
}

.line {
    position: absolute;
    height: 100%;
    width: 1px;
    border-right: 1px solid rgb(73, 73, 73);
    left: 100%;
    top: 0%;
}

.price {
    font-size: 1vw;
}

.red-hover:hover {
    color: red;
    transition-duration: .5s;
    cursor: pointer;
}

.h-15 {
    height: 15%;
}

.title {
    color: #FF6666;
    font-weight: bold;
    padding-top: 3%;
    font-size: .93vw;
}

.h-85 {
    height: 85%;
}

.text-align-right {
    text-align: right;
}

.no-wrap {
    white-space: nowrap;
}

.percent {
    font-size: 1.9vw;
    font-weight: bold;
    color: rgb(117, 117, 117);
}