canvas {
  height: 100% !important;
  width: 100% !important;
}

.vertical-multi {
  top: 65% !important;
  white-space: nowrap;
  text-transform: uppercase;
}

.vertical-line {
  height: 90% !important
}

.h-50{
  height: 50%;
}