<div class="container">
    <div class="row">
      <div class="col-12 widget-mini-title uppercase ">{{label}}</div>
  
      <div class="col-9">
        <span class="widget-mini-price">$2.300.120 </span>
        <span class="widget-mini-quantity"> &nbsp;| 2301</span>
      </div>
      <div class="col-3 aligned-centered-flex">
        <span class="widget-mini-percent">20%</span>
      </div>
  
      <div class="mt-1 col-12">
        <table style="width:100%" class="expanded-table">
          <tr class="uppercase">
            <th>{{cab1}}</th>
            <th>Cantidad</th>
            <th>Monto</th>
          </tr>
          <tr> <td>DDIF</td>
            <td>500</td>
            <td class="quantity">$7.899994</td>
          </tr>
          
        </table><br>
        <table style="width:100%" class="expanded-table">
          <tr *ngFor="let list of listado">
            <td>{{ list.cod_bco_destino }}</td>
            <td>{{ list.cod_evento }}</td>
            <td>{{ list.cod_producto }}</td>
            </tr>
          </table><br>
      </div>
    </div>