.vertical-multi {
  transform: rotate(-90deg);
  font-size: 1vw; // position: absolute;
  position: relative;
  white-space: nowrap;
  top: 70%;
  text-transform: uppercase;
}

.align-self-flex-end {
  align-self: flex-end;
}

.vertical-line {
  border-right: 1px solid #303030;
  position: absolute;
  left: 55%;
  height: 100%;
  width: 1px;
  margin-left: 6px;
}
