.vertical-multi {
    transform: rotate(-90deg);
    font-size: .9em; // position: absolute;
    position: relative;
    top: 75%;
}

.align-self-flex-end {
    align-self: flex-end;
}

.vertical-line {
    border-right: 1px solid #303030;
    position: absolute;
    left: 55%;
    height: 100%;
    width: 1px;
    margin-left: 6px;
}