<div class="container">
  <div class="row">
      <div>
          <p-dropdown [options]="fecha "[style]="{'border':'0px'}"  [(ngModel)]="selectedCity" placeholder="Fecha" optionLabel="name" [showClear]="true"></p-dropdown>           
      </div>
    
      <div>
          <p-dropdown [options]="canal "[style]="{'border':'0px'}"  [(ngModel)]="selectedCanal" placeholder="Canal" optionLabel="name" [showClear]="true"></p-dropdown>           
      </div> 

    <div>
        <p-dropdown [options]="productos "[style]="{'border':'0px'}"  [(ngModel)]="selectedpProductos" placeholder="Productos" optionLabel="name" [showClear]="true"></p-dropdown>           
    </div>
    
    <div>
        <p-dropdown [options]="acuerdo "[style]="{'border':'0px'}"  [(ngModel)]="filtersSelectedng" placeholder="Acuerdo" optionLabel="name" [showClear]="true"></p-dropdown>           
    </div>

   
    <div class="col-6 text-right">
      <a><i class="fas fa-eraser fa-2x" style="color: darkgrey"></i>
        <span size="2" color="darkgrey">BORRAR <br> FILTROS </span>
      </a>
    </div>
  </div>

</div>

<div class="col-12" *ngFor="let item of fecha"></div>